<template name="numberOutput">
	<div class="col-md-4 col-xs-12 outputWrap">
		<div class="output">
			<div class="numbers">
				<h1>£{{budget}}</h1>
				<h3>Left Today</h3>
			</div>
		</div>	
	</div>
	<div class="col-md-4 col-xs-12 outputWrap">
		<div class="output" data-toggle="modal" data-target="#myModal">
			<div class="numbers">
				<h1>£{{cash}}</h1>
				<h3>Total Balance</h3>
				<i id="balanceEdit" class="fa fa-pencil-square-o fa-2x"></i>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12 outputWrap">
		<div class="output">
			<div class="numbers">
				<h3>Payday is {{payDayRead}}</h3>
			</div>
		</div>	
	</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</template>