<template name="numberOutput">
	<div class="col-md-4 col-xs-12 outputWrap">
		<div class="output">
			<div class="numbers">
				<h1>£{{budget}}</h1>
				<h3>Left Today</h3>
			</div>
		</div>	
	</div>
	<div class="col-md-4 col-xs-12 outputWrap">
		<div class="output">
			<div class="numbers">
				<h1>£{{cash}}</h1>
				<h3>Total Balance</h3>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12 outputWrap">
		<div class="output">
			<div class="numbers">
				<h3>Payday is {{payDayRead}}</h3>
			</div>
		</div>	
	</div>
</template>